# ─────────────────────────────────────────
# SERVER
# ─────────────────────────────────────────
PORT=3000

# ─────────────────────────────────────────
# POSTGRESQL
# ─────────────────────────────────────────
POSTGRES_URI=postgresql://postgres:password@localhost:5432/megastore_db

# ─────────────────────────────────────────
# MONGODB
# ─────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/megastore_nosql

# ─────────────────────────────────────────
# FILES
# ─────────────────────────────────────────
FILE_DATA_XLSX=./data/AM-prueba-desempeno-data_m4.xlsx
